<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Souvik Haldar</title>
		<link type="text/css" rel="stylesheet" href="./css/main.css">
	</head>
	<body>
		<h1> Souvik Haldar </h1>
		<h2> Contact </h2>
		<ul>
			<li> E-mail: mail@souvikhaldar.in </li>
			<li> Mobile: 8653149116 </li>
		</ul>
	Welcome to Souvik's world of talking to computing systems and the medium!
	<p>I’m an enterprising individual who loves to take initiatives to make things happen, hence held various positions of responsibility right from early school days till date.<br />
	I believe in the idea of <em>compound interest</em> and putting small yet planned efforts each day to become better than the person yesterday.<br />
	I had been fascinated by the green coloured PCBs (Printed Circuit Board) from a very early age and tinkering with machines ever since.<br />
	I love to explore fields horizontally, find the sweet spot to zero-in then go all the way into it. Currently exploring the world of Distributed Systems, Cyber Security and Embedded systems, and in this path of exploration making use of golang (primarily), python and Clojure for interacting with computers, each representative of a different paradigm of thinking/programming.</p>

	<h2 id="experience">Experience</h2>
	<p><strong>Software Engineer - <a href="https://www.imperva.com/">Imperva</a> - Bangalore - June 2021 - PRESENT</strong><br />
	<ul>
		<li> CloudVector got acquired by Imperva.<br /></li>
		<li>Our team is responsible for developing and integrating API security into the infamous Imperva firewall.</p></li>
	</ul>
	<p><strong>SOFTWARE ENGINEER (PLATFORM) - <a href="https://www.cloudvector.com/">Cloud Vector</a> - REMOTE - NOV 2020 - May 2021</strong></p>
	<ul>
	<li>Created efficient cache solution from scratch to reduce the db call latency.<br />
	</li>
	<li>Fixing bugs and improving the overall product.<br />
	</li>
	<li>Most of the components are written in golang and redis/psql as database.</li>
	</ul>
	<p><strong>BACKEND ENGINEER - <a href="https://biostrap.com/">BIOSTRAP</a> - REMOTE - MAY 2019 - SEPTEMBER 2020</strong></p>
	<ul>
	<li>Responsible for building and maintaining the platform of Biostrap.</li>
	<li>Writing gRPC endpoints, REST HTTP APIs, tools,etc mostly in golang.<br />
	</li>
	<li>Database: mySQL and scylla.</li>
	</ul>
	<p><strong>BACKEND DEVELOPER - <a href="https://www.kartbites.com/">KARTBITES</a>- KOLKATA — OCT 2017- APRIL 2019</strong></p>
	<ul>
	<li>Building robust and high performance HTTP APIs and microservice using Golang.</li>
	<li>Monitoring and alerting of servers using Prometheus.<br />
	</li>
	<li>Spatial database management using PostGIS/PostgreSQL.</li>
	<li>Maintaining and deploying the server using Ansible.</li>
	</ul>
	<p><strong>PRODUCT DEVELOPMENT INTERN - <a href="https://hasura.io/">HASURA.IO</a> - REMOTE — JUN 2017-AUG 2017</strong></p>
	<ul>
	<li>Developed complete web-app named <a href="https://youtu.be/V86Moyi1QkM"><strong>hisab-kitab</strong></a> which is an expense journal application.<br />
	</li>
	<li>Backend in Python (Flask), frontend in html, css, bootstrap and several Hasura APIs.<br />
	</li>
	<li>Complete documentation can be found <a href="https://medium.com/@souvikhaldar32/hisab-kitab-save-to-earn-c978344e5744">here</a></li>
	</ul>
	<p><strong>MANAGEMENT INTERN - INDIAN RAILWAYS - RANCHI, JHARKHAND — JUN 2017-JUL 2017</strong></p>
	<ul>
	<li>Understood to great extent how varies aspects of largest employer of the world works.<br />
	</li>
	<li>Learnt various management skills.</li>
	</ul>
	<p><strong>CONTENT WRITER - INDIANS NEWS; REMOTE — FEB 2015 - SEP 2016</strong></p>
	<ul>
	<li>Articles on various topics, but with special emphasis on covering events, seminars, lifestyle and workshops.</li>
	<li>Greatly improved writing and communication skills.</li>
	</ul>
	<hr />
	<h2 id="technical-skills">Technical Skills</h2>
	<ul>
	<li>Languages- Golang, Python and Clojure.<br />
	</li>
	<li>REST, gRPC and graphQL APIs development.<br />
	</li>
	<li>DevOps- Ansible, Prometheus, Grafana, Docker, Kubernetes.<br />
	</li>
	<li>Database- postgreSQL, mySQL, Redis.</li>
	<li>Geographic Information System (GIS)- PostGIS.<br />
	</li>
	<li>OS- Mac OSX, Arch Linux, Ubuntu, Kali Linux and Raspbian.<br />
	</li>
	</ul>
	</body>
</html>
