<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Souvik Haldar</title>
		<link type="text/css" rel="stylesheet" href="./css/main.css">
	</head>
	<body class="light-theme">
		<h1> Souvik Haldar </h1>
		<h2> Contact </h2>
		<ul>
			<li> E-mail: mail@souvikhaldar.in </li>
			<li> Mobile: 8653149116 </li>
		</ul>
		Welcome to Souvik's world of talking to computing systems and the medium!
		<p>I’m an enterprising individual who loves to take initiatives to make things happen, hence held various positions of responsibility right from early school days till date.<br />
		I believe in the idea of <em>compound interest</em> and putting small yet planned efforts each day to become better than the person yesterday.<br />
		I had been fascinated by the green coloured PCBs (Printed Circuit Board) from a very early age and tinkering with machines ever since.<br />
		I love to explore fields horizontally, find the sweet spot to zero-in then go all the way into it. Currently exploring the world of Distributed Systems, Cyber Security and Embedded systems, and in this path of exploration making use of golang (primarily), python and Clojure for interacting with computers, each representative of a different paradigm of thinking/programming.</p>

	</body>
</html>
